<ion-header [translucent]="true">
  <ion-toolbar color="primary" id="main-content">
    <!-- <img class="foto_perfil" src="../../assets/img/perfil.jpeg" alt="Foto de perfil" > -->
    <ion-title>Aysha</ion-title>
     <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>  

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary" id="main-content">
      <ion-buttons slot="end"> 
        <ion-menu-button id="ion-menu-button"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
   
<div id="container">

  <!-- Menu -->
  <ion-menu side="end" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="primary" class="ion-padding">
      <ion-searchbar placeholder="Pesquisar"></ion-searchbar>
      <div><a href="">Amora</a></div>
      <div><a href="">Aysha</a></div>
      <div><a href="">Faísca</a></div>
      <div><a href="">Foguinho</a></div>
      <div><a href="">Fumaça</a></div>
      <div><a href="">Lily</a></div>
      <div><a href="">Sair</a></div>
      
    </ion-content>
  </ion-menu>
  
<ion-row><ion-col size="12" class="ion-justify-content-center">
  <div class="img">
  <label class="upload" for="upload_foto"><ion-icon name="add-circle-outline"></ion-icon></label>
  <input type="file" name="upload_foto" id="upload_foto">
  <ion-input label="Comentário" labelPlacement="floating" [counter]="true" maxlength="60"></ion-input>
</div>

  <div class="img">
    <img src="../../assets/img/Aysha.jpeg" alt="">
    <ion-icon name="trash-outline" class="lixinho"></ion-icon>
    <ion-input label="Comentário" labelPlacement="floating" [counter]="true" maxlength="60"></ion-input>
    
    </div>

  <div class="img">
    <img src="../../assets/img/Ayshinha.jpeg" alt="">
    <ion-icon name="trash-outline" class="lixinho"></ion-icon>
    <ion-input label="Comentário" labelPlacement="floating" [counter]="true" maxlength="60"></ion-input>
    
    </div>
</ion-col></ion-row>
</div>

<ion-footer>
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-footer>
</ion-content>
