@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script&display=swap');

// MENU
a{
    color: var(--ion-color-light);
    text-decoration: none;
    font-size: 1.4em;
    margin: 3em 0.5em;
    background-color: var(--ion-color-secondary);
}

a:hover{
    color: var(--ion-color-secondary);
}

// Muda a cor da escrita do menu
a {
    background-color: transparent;
    color: var(--ion-color-light);
}

.sair{
    position: fixed;
    bottom: 0;
}

#container{
    min-height: calc(100vh - 6em);
}

ion-toolbar{
    height: 3em;
}

ion-header{
    position: static;
}

ion-icon{
    font-size: 1.5em;
}

ion-title{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20000;
}

/* Aumentar o tamanho do ion-menu-button */
.sc-ion-buttons-md-h.ion-color.sc-ion-buttons-md-s .button, .ion-color .sc-ion-buttons-md-h.sc-ion-buttons-md-s .button {
    font-size: 5em;
}


.botoes{
    display: flex;
}

.botao{
    width: 19em;
    display: flex;
    justify-content: end;
}

button{
    margin: 0 0 3px 0;
    padding: 0.1em 0.5em;
    border-radius: 0.3em;
    font-size: 1em;
    background-color: var(--ion-color-primary);
    color: var(--ion-color-light);
}

.upload{
    margin: 4px auto;
    width: 20em;
    height: 12em;
    border-radius: 20px;
    border: 1px  #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../../assets/img/fundo-cinza.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    filter:opacity(0.7)
}

#upload_foto{
    display: none;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    object-fit: cover;
    margin-top: 1.5em;
}

.img img{
    box-shadow: var(--ion-color-tertiary-shade) 3px 3px 3px 3px;
    margin: 4px auto;
    width: 20em;
    height: 15em;
    border-radius: 20px;
    display: flex;
    object-fit: cover;
}

.foto_perfil{
    width: 4em;
    height: 4em;
    border-radius: 100%;
    border: 2px solid #F5F5F5;
    position: fixed;
    top: 0.4em;
    left: 0.4em;
    object-fit: cover;
    z-index: 10000;
}

// Input do comentario
ion-input{
    width: 19em;
}

.linha-comentario{
    width: 19em;
}

p, .lixinho{
    margin: 0;
}

.lixinho:hover{
    color: var(--ion-color-primary);
}

.col-lixinho{
    display: flex;
    justify-content: end;
}

.linha-comentario{
    margin: 5px 0;
    display: flex;
    align-items: center;
}
