<ion-header [translucent]="true">
  <ion-toolbar color="primary" id="main-content">
    <!-- <ion-title>Pet</ion-title> -->
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary" id="main-content">
      <ion-title>Pet</ion-title>
      <ion-buttons slot="end"> -->
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
<div id="container">

  <ion-menu side="end" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="primary" class="ion-padding">
      <div><a href="../agenda/">Agenda</a></div>
      <div><a href="../pet">Pets</a></div>
      <div><a href="../tutor">Tutores</a></div>
      <div><a href="../procedimentos">Tipos de procedimento</a></div>
      <div><a href="../pacote">Pacotes</a></div>
      <div><a href="">Pagamento</a></div>
      <div><a href="../servico">Serviços</a></div>
    </ion-content>
  </ion-menu>

  

</div>

<ion-footer>
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-footer>
</ion-content>
