@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script&display=swap');

// Menu
a{
    color: var(--ion-color-light);
    text-decoration: none;
    font-size: 1.4em;
    margin: 3em 0.5em;
}

a:hover{
    color: var(--ion-color-secondary);
}

//Tutor

#container{
    min-height: calc(100vh - 112px);
   
}


ion-toolbar{
    height: 3em;
    text-align: center;
}

ion-menu {
    width: 25em; /* Defina a largura desejada para o menu */
  }

/* Aumentar o tamanho do ion-menu-button */

ion-icon{

}

.sc-ion-buttons-md-h.ion-color.sc-ion-buttons-md-s .button, .ion-color .sc-ion-buttons-md-h.sc-ion-buttons-md-s .button {
  font-size: 5em;
}
  

.botoes{
    display: flex;
}

.foto_perfil{
  width: 59px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 59px;
  border: 1px solid #F5F5F5;
  background: url(../../assets/img/aysha_perfil.jpeg), lightgray 50% / cover no-repeat;
  position: absolute;
  top: 0.6em;
  left: 1em;
  z-index: 10000;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img img{
  margin: 50px;
  border-radius: 20px;
  box-shadow: var(--ion-color-tertiary-shade) 3px 3px 3px 3px;
}

ion-icon{
  font-size: 20px;
}