@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script&display=swap');

// Menu
a{
  color: var(--ion-color-light);
  text-decoration: none;
  font-size: 1.4em;
  margin: 3em 0.5em;
}

a:hover{
  color: var(--ion-color-secondary);
}

.sair{
  position: fixed;
  bottom: 0;
}

#container{
  min-height: calc(100vh - 6em);
}

ion-toolbar{
  height: 3em;
}

ion-header{
  position: static;
}

.curtido{
  animation: pulse 1s;
  color: var(--ion-color-quartenary);
}

// Animação de curtir
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.sc-ion-buttons-md-h.ion-color.sc-ion-buttons-md-s .button, .ion-color .sc-ion-buttons-md-h.sc-ion-buttons-md-s .button {
  font-size: 5em;
}  

.botoes{
  display: flex;
}

ion-icon{
  font-size: 1.5em;
}

// Foto do pet
.foto_perfil{
  width: 4em;
  height: 4em;
  border-radius: 100%;
  border: 2px solid #F5F5F5;
  position: absolute;
  top: 0.4em;
  left: 0.4em;
  z-index: 10000;
}

.img{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  object-fit: cover;
  margin-top: 1.5em;
}

.img img{
  box-shadow: var(--ion-color-tertiary-shade) 3px 3px 3px 3px;
  margin: 4px auto;
  width: 20em;
  height: 15em;
  border-radius: 20px;
  display: flex;
  object-fit: cover;
}

.foto_perfil{
  width: 4em;
  height: 4em;
  border-radius: 100%;
  border: 2px solid #F5F5F5;
  position: fixed;
  top: 0.4em;
  left: 0.4em;
  object-fit: cover;
  z-index: 10000;
}


.linha-comentario{
  width: 19em;
}

p, .patinha{
  margin: 0;
}

.patinha:hover{
  color: var(--ion-color-primary);
}

.col-patinha{
  display: flex;
  justify-content: end;
}

.linha-comentario{
  margin: 5px 0;
  display: flex;
  align-items: center;
}