@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script&display=swap');

// Menu
a{
    color: var(--ion-color-light);
    text-decoration: none;
    font-size: 1.4em;
    margin: 3em 0.5em;
}

a:hover{
    color: var(--ion-color-secondary);
}

// Pet

#container{
    min-height: calc(100vh - 112px);
   
}

// ion-title{
//     text-align: center;
// }

ion-toolbar{
    height: 4.2em;
    text-align: center;
}

ion-menu {
    width: 25em; /* Defina a largura desejada para o menu */
  }

/* Aumentar o tamanho do ion-menu-button */


  .sc-ion-buttons-md-h.ion-color.sc-ion-buttons-md-s .button, .ion-color .sc-ion-buttons-md-h.sc-ion-buttons-md-s .button {
    font-size: 5em;
  }
  

// .logo{
//     height: 48px;
//     margin-left: 25px;
// }

// .tituloPagina{
//     font-size: 3em;
//     text-align: center;
//     font-family: 'Abril Fatface', cursive;
// }

// .elementos{
//     background: var(--ion-color-tertiary);
//     border-radius: 2.5em;
//     margin: 0 2em 2em 2em;
//     padding: 0.8em 3.5em;
// }

// .primeiraLinha{
//     display: flex;
//     justify-content: space-between;
// }

.botoes{
    display: flex;
}

// .divInicio{
//     display: flex;
//     align-items: center;
// }


// .elemento{
//     border-bottom: 1px solid var(--ion-color-primary);
//     margin-top: 8px;
// }

// .elemento:last-child{
//     border-bottom: none;
// }